body{
	margin: 0;
	overflow: hidden;
}

header {display:flex;width:100%; background-color: #fffefa;box-shadow: 0px 1px, 0px 0px white; font-family: cursive;text-decoration:none;}

header img{width: 5%;height:9vh;padding-top:5px;}

header #title{padding: 10px;width:20%; font-size:5vh;}

header span sup{font-size:2vh;}

header input{font-size:3vh;width:35%;height:20%;margin:1%;border-radius:8px;}

header a{font-size:3vh;padding: 10px;width:10%;cursor: pointer;margin:2px;}

header a:Hover{font-size:4vh;border: 1px solid gray;}

#main_lay{
	width:100%;
	display: flex;
}

#still_1 {
	background-color: #f0f0f0;
	width:20%;
	height: 80vh;
	padding: 1vw;
	border-radius: 10px;
	margin:2px;
	opacity:0.3; 
}

#still_1 section{
	display: block; 
	height:96%;
	box-shadow:1px 1px 1px 1px darkgray;
	margin:5px;
	border-radius: 5px;
}

#move_1{
	background-color: #f7f7f5;
	width:60%;
	height:85vh;
	overflow: scroll;
	margin:5px;
	overflow-x: hidden;
	padding:2%;
}

#main_1 section{	
	display: block; 
	height:48%;
	box-shadow:1px 1px 1px 1px darkgray;
	margin:5px;
	border-radius: 5px;
}

::-webkit-Scrollbar{width:4px;}
::-webkit-scrollbar-track {box-shadow: inset 0 0 5px white;border-radius: 4px;}
::-webkit-scrollbar-thumb {background: grey;border-radius: 4px;}

#still_2 {
	background-color: #f0f0f0;
	width:20%;
	height: 80vh;
	padding: 1vw;
	border-radius: 10px;
	margin:2px;
	opacity:0.3;
}

#still_2 section{
	display: block; 
	height:48%;
	box-shadow:1px 1px 1px 1px darkgray;
	margin:5px;
	border-radius: 5px;
}


