body{margin: 0;overflow: hidden;}

header {display:flex;width:100%; background-color: #fffefa;box-shadow: 0px 1px, 1px 0px white; font-family: monospace;text-decoration:none;}

header div{width:50%;}

header #title{width:30%; font-size:5vh;padding-left:1vw;font-family:cursive}

#menu {display:flex;}

#tentative_section{display:none}

header div span i{font-size:2vh;padding-left:2vw;padding-right:1vw;;border:1px solid red;}

header div a{font-size:3vh;padding: 10px;width:20%;cursor: pointer;margin:2px;}

header div a:Hover{border: 1px solid gray;}

#main_lay{width:100%;display: flex;}

#still_1 {
	background-color: white;
	width:20%;
	height: 80vh;
	padding: 1vw;
	margin-top: 1px;
	border-radius: 10px;
}

#still_1 section{
	display: block; 
	height:96%;
	box-shadow:1px 1px 1px 1px darkgray;
	margin:5px;
	border-radius: 5px;
	padding-top:5px;
}

#move_1{
	background-color: #f7f7f5;
	width:60%;
	height:85vh;
	overflow: scroll;
	margin:5px;
	overflow-x: hidden;
	padding:2%;
}

#main_1 section{	
	display: block; 
	height:48%;
	box-shadow:1px 1px 1px 1px darkgray;
	margin:5px;
	border-radius: 5px;
}

::-webkit-Scrollbar{width:4px;}
::-webkit-scrollbar-track {box-shadow: inset 0 0 5px white;border-radius: 4px;}
::-webkit-scrollbar-thumb {background: azure;border-radius: 4px;border:1px solid grey}

#still_2 {
	background-color: white;
	width:20%;
	height: 80vh;
	padding: 1vw;
	margin-top: 1px;
	border-radius: 10px;
}

#still_2 section{
	display: block; 
	height:96%;
	box-shadow:1px 1px 1px 1px darkgray;
	margin:5px;
	border-radius: 5px;
}

#notify{
	right:0;
	bottom:0;
	position:absolute;
	width:30%;height:100%;
	background-color: #fffefa;
	box-shadow: 0px 2px 3px 2px black;
	border-radius: 5px;
}

#notify header a{width:1vw;padding: 2px;cursor:pointer}

@media screen and (max-width: 600px) {
	
	#main_header{height:25vh;}
	
	#menu{display:block;}
	#menu a{display:block;width:100%;font-size:3vw}
	#title{font-size:3vw;}
	
	#tentative_section{display:block}
	#tentative_section a{display:block;width:100%;font-size:3vw;padding: 10px;cursor: pointer;margin:2px;}
	
	#breadcrumbs{display:block;font-size:5vh;width:10%; text-align:center}
	#breadcrumbs:Hover{border:1px solid gray;}
	
	#still_1, #still_2{display:none;}
	#move_1{margin:1px;width:100%;justify:center;}
	#notify {width:70%}
	#notify a{font-size: 3vh;}
}
